#E: ID_MODEL=Receiver_Dongle_L01
#E: ID_MODEL_ENC=Receiver\x20Dongle\x20L01
#E: ID_MODEL_ID=ed02
#E: ID_REVISION=0003
#E: ID_SERIAL=Emotiv_Systems_Pty_Ltd_Receiver_Dongle_L01_SN20120229000459
#E: ID_SERIAL_SHORT=SN20120229000459
#E: ID_USB_INTERFACES=:030000:
#E: ID_VENDOR=Emotiv_Systems_Pty_Ltd
#E: ID_VENDOR_ENC=Emotiv\x20Systems\x20Pty\x20Ltd
#E: ID_VENDOR_ID=1234
#E: MAJOR=189
#E: MINOR=385
#E: PRODUCT=1234/ed02/3
#E: SUBSYSTEM=usb
ACTION=="add", SUBSYSTEMS=="usb", ENV{ID_VENDOR}=="Emotiv*", MODE="0666"
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{interface}=="Emotiv RAW DATA", MODE="0666", SYMLINK+="emotiv_epoc"
